<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Ingrese los parámetros</h1>
    <form action="/" method="post">
        <label for="N">Tamaño de muestra (hasta 1.000.000):</label>
        <input type="number" name="N" required><br><br>
        <label for="distribucion">Distribución:</label>
        <select name="distribucion" required>
            <option value="uniforme">Uniforme</option>
            <option value="exponencial">Exponencial</option>
            <option value="normal">Normal</option>
        </select><br><br>
        <label for="intervalos">Cantidad de intervalos:</label>
        <select name="intervalos" required>
            <option value="10">5</option>
            <option value="12">10</option>
            <option value="16">15</option>
            <option value="23">20</option>
        </select><br><br>
        <label for="a">Valor de a:</label>
        <input type="number" name="a"><br><br>
        <label for="b">Valor de b:</label>
        <input type="number" name="b"><br><br>
        <label for="lambd">Valor de lambda (solo para distribución exponencial):</label>
        <input type="number" name="lambd"><br><br>
        <label for="media">Valor de la media (solo para distribución normal):</label>
        <input type="number" name="media"><br><br>
        <label for="desviacion">Valor de la desviación (solo para distribución normal):</label>
        <input type="number" name="desviacion"><br><br>
        <input type="submit" value="Generar">
    </form>
</body>
</html>
