<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h2>Datos Generados</h2>
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for index, valor in datos_tabla %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ valor }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>